{extend name="Template:base" /}
{block name="title"}基因检测-后台管理{/block}
{block name="other_css"}
<!-- other css -->
<style>
    #tabs .tabs-panels > .panel > .panel-body {
        overflow: hidden;
    }

    .pd-txt {
        margin-bottom: 10px;
    }
</style>
{/block}
{block name="class"}easyui-layout{/block}
{block name="body"}
<div class="easyui-panel" data-options="region:'north'" style="height:55px;">
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'west',border:false,fit:true" style="width:150px;padding: 5px 20px;">
            <img src="__COMMONRESOURCE__/images/logo.png" height="40"/>
        </div>
        <div data-options="region:'center',border:false"></div>
        <div data-options="region:'east',border:false" style="width:120px;padding: 10px;">
            <a href="#" class="easyui-menubutton" menu="#mm1" iconCls="icon-man">{:session('userInfo')['nickname']}</a>
            <div id="mm1">
                <div iconCls="icon-edit" onclick="updatepsw();">修改密码</div>
                <div iconCls="icon-remove" onclick="top.location.href='{:url(\'Index/logout\')}'">退出</div>
            </div>
        </div>
    </div>
</div>
<div data-options="region:'west',title:'菜单'" style="width:150px;">
    <ul id="menu" class="easyui-tree"></ul>
</div>
<div data-options="region:'center'">
    <div id="tabs" height="100%" class="easyui-tabs"></div>
</div>
<div data-options="region:'south'" style="height:50px;">底部</div>

<div id="win" class="easyui-window" title="修改密码" style="width:350px;height:230px"
     data-options="iconCls:'icon-edit',modal:true,closed:true,minimizable:false,resizable:false">
    <div class="easyui-panel" data-options="ft:true,border:false" style="padding:10px;">
        <form id="ff" method="post">
            <div class="pd-txt">
                <input class="easyui-validatebox easyui-textbox" style="width:100%" type="password" name="o_psw"
                       id="o_psw"
                       data-options="label:'旧密码：',required:true,missingMessage:'请输入旧密码'"/>
            </div>
            <div class="pd-txt">
                <input class="easyui-validatebox easyui-textbox" style="width:100%" type="password" name="psw" id="psw"
                       data-options="label:'新密码：',required:true,missingMessage:'请输入密码'"/>
            </div>
            <div class="pd-txt">
                <input class="easyui-validatebox easyui-textbox" style="width:100%" type="password" name="_psw"
                       id="_psw"
                       data-options="label:'重新输入：',required:true,missingMessage:'请输入密码'"
                       validType="equalTo['#psw']" invalidMessage="两次输入密码不匹配"/>
            </div>
            <div style="text-align:center;padding:5px 0">
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()" style="width:80px">保存</a>
            </div>
        </form>
    </div>
</div>

{/block}
{block name="other_js"}
<script>
    $('#menu').tree({
        "data": [{
            "text": "订单管理",
            "url": "{:url('Index/order')}",
            children: []
        }, {
            "text": "商品管理",
            "url": "{:url('Index/goods')}"
        }, {
            "text": "用户管理",
            "url": "{:url('Index/user')}"
        }, {
            "text": "套件码查询",
            "url": "{:url('Index/serial')}"
        }, {
            "text": "折扣码",
            "url": "{:url('Index/code')}"
        }],
        onClick: function (node) {
            if (!$('#menu').tree('isLeaf', node.target)) return;
            var tab = $('#tabs').tabs('getTab', node.text);
            if (tab) {
                $('#tabs').tabs('select', node.text);
                return;
            }
            var content = '';
            if (!node.url) {
                content = "empty";
            } else {
                content = '<iframe name="indextab" scrolling="auto" src="' + node.url + '" frameborder="0" style="width:100%;height:100%;"></iframe>';
            }
            // 添加一个新的标签页面板（tab panel）
            $('#tabs').tabs('add', {
                title: node.text,
                content: content,
                closable: true,
                tools: [{
                    iconCls: 'icon-mini-refresh',
                    handler: function () {
                        $('#tabs').tabs('select', node.text);
                        $('#tabs').tabs('update', {
                            tab: $('#tabs').tabs('getSelected'),
                            options: {
                                content: content
                            }
                        });
                    }
                }]
            });
        }
    });
    $('#tabs').tabs({
        fit: true,
        border: false,
    });

    function updatepsw() {
        $("#win").window({
            closed: false
        });
    };

    function submitForm() {
        if (!$('#ff').form('validate')) {
            $.messager.alert('错误', '请输入正确的信息！', 'error');
            return;
        }
        $.messager.progress({
            title: '正在保存'
        });
        $.ajax({
            type:'post',
            url: '{:url("Index/updatepsw")}',
            data: {
                o_psw: $('#o_psw').textbox('getValue'),
                n_psw: $('#psw').textbox('getValue')
            },
            success(resp) {
                if (resp.status_code == "1001") {
                    $.messager.progress('close');
                    $.messager.show({
                        title: '成功',
                        msg: '修改成功'
                    });
                    $("#win").window('close');
                } else {
                    $.messager.progress('close');
                    $.messager.alert('错误', resp.msg, 'error');
                }
            }
        })
    }

    $.extend($.fn.validatebox.defaults.rules, {
        equalTo: {
            validator: function (value, param) {
                return $(param[0]).val() == value;
            },
            message: '字段不匹配'
        }
    });
</script>
{/block}