{extend name="Template:base" /}
{block name="title"}基因检测-后台管理{/block}
{block name="other_css"}
<!-- other css -->
<style>
    #tabs .tabs-panels > .panel > .panel-body {
        overflow: hidden;
    }
</style>
{/block}
{block name="class"}easyui-layout{/block}
{block name="body"}
<div class="easyui-panel" data-options="region:'north'" style="height:55px;">
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'west',border:false" style="width:150px;padding: 5px 20px;">
            <img src="__COMMONRESOURCE__/images/logo.png" height="40"/>
        </div>
        <div data-options="region:'center',border:false"></div>
        <div data-options="region:'east',border:false" style="width:120px;padding: 10px;">
            <a href="#" class="easyui-menubutton" menu="#mm1" iconCls="icon-man">admin</a>
            <div id="mm1">
                <div iconCls="icon-remove" onclick="top.location.href='{:url(\'Index/logout\')}'">退出</div>
            </div>
        </div>
    </div>
</div>
<div data-options="region:'west',title:'菜单'" style="width:150px;">
    <ul id="menu" class="easyui-tree"></ul>
</div>
<div data-options="region:'center'">
    <div id="tabs" height="100%" class="easyui-tabs"></div>
</div>
<div data-options="region:'south'" style="height:50px;">底部</div>

{/block}
{block name="other_js"}
<script>
    $('#menu').tree({
        "data": [{
            "text": "订单管理",
            "url": "{:url('Index/order')}",
            children: []
        }, {
            "text": "商品管理",
            "url": "{:url('Index/goods')}"
        }],
        onClick: function (node) {
            if (!$('#menu').tree('isLeaf', node.target)) return;
            var tab = $('#tabs').tabs('getTab', node.text);
            if (tab) {
                $('#tabs').tabs('select', node.text);
                return;
            }
            var content = '';
            if (!node.url) {
                content = "empty";
            } else {
                content = '<iframe name="indextab" scrolling="auto" src="' + node.url + '" frameborder="0" style="width:100%;height:100%;"></iframe>';
            }
            // 添加一个新的标签页面板（tab panel）
            $('#tabs').tabs('add', {
                title: node.text,
                content: content,
                closable: true,
                tools: [{
                    iconCls: 'icon-mini-refresh',
                    handler: function () {
                        $('#tabs').tabs('select', node.text);
                        $('#tabs').tabs('update', {
                            tab: $('#tabs').tabs('getSelected'),
                            options: {
                                content: content
                            }
                        });
                    }
                }]
            });
        }
    });
    $('#tabs').tabs({
        fit: true,
        border: false,
    });
</script>
{/block}