{extend name="Template:base" /}
{block name="title"}基因检测-订单管理{/block}
{block name="other_css"}
<!-- other css -->
<style>
    .datagrid-body {
        overflow-x: scroll;
    }
</style>
{/block}
{block name="class"}{/block}
{block name="body"}
<table id="orderList"></table>

{/block}
{block name="other_js"}
<script>
    $('#orderList').datagrid({
        url: "{:url('Index/order')}",
        method: "POST",
        pagination: true,
        striped: true,
        singleSelect: true,
        pagePosition: 'bottom',
        pageSize: 50,
        pageList: [50, 100, 150, 200, 300],
        fit: true,
        border: false,
        columns: [[
            {field: 'no', title: '订单号', width: 250, align: 'center'},
            {field: 'goods_id', title: '商品ID', width: 50, align: 'center'},
            {field: 'subject', title: '商品名称', width: 150, align: 'center'},
            {field: 'money', title: '付款金额', width: 100, align: 'center'},
            {field: 'user_id', title: '用户ID', width: 80, align: 'center'},
            {field: 'username', title: '收件人', width: 80, align: 'center'},
            {field: 'mobile', title: '手机号', width: 100, align: 'center'},
            {field: 'email', title: '邮箱', width: 150, align: 'center'},
            {field: 'city', title: '收货城市', width: 100, align: 'center'},
            {field: 'detail_address', title: '收货地址', width: 180, align: 'center'},
            {field: 'status', title: '订单状态', width: 80, align: 'center'},
            {field: 'create_time', title: '下单时间', width: 150, align: 'center'}
        ]],
        toolbar: [{
            iconCls: 'icon-print',
            text: '导出',
            handler: function () {
                window.open("{:url('Index/downloadOrderExcel')}");
            }
        }]
    });
    // $('#orderList').datagrid('getPager').pagination({
    //     beforePageText: '第',
    //     afterPageText: '页，共 {pages} 页',
    //     displayMsg: '当前显示 {from} - {to} 条记录，共 {total} 条记录',
    // });
</script>
{/block}