{extend name="Template:base" /}
{block name="title"}基因检测-用户管理{/block}
{block name="other_css"}
<!-- other css -->
<style>
    .datagrid-body {
        overflow-x: scroll;
    }
</style>
{/block}
{block name="class"}{/block}
{block name="body"}
<table id="orderList"></table>

{/block}
{block name="other_js"}
<script>
    $('#orderList').datagrid({
        url: "{:url('Index/user')}",
        method: "POST",
        pagination: true,
        striped: true,
        singleSelect: true,
        pagePosition: 'bottom',
        pageSize: 50,
        pageList: [50, 100, 150, 200, 300],
        fit: true,
        border: false,
        columns: [[
            {field: 'id', title: 'ID', width: 80, align: 'center'},
            {field: 'nickname', title: '用户名', width: 150, align: 'center'},
            {field: 'sex', title: '性别', width: 50, align: 'center'},
            {field: 'mobile', title: '手机号', width: 150, align: 'center'},
            {field: 'email', title: '邮箱', width: 200, align: 'center'},
            {field: 'create_time', title: '创建时间', width: 150, align: 'center'}
        ]],
        toolbar: [{
            iconCls: 'icon-print',
            text: '导出',
            handler: function () {
                window.open("{:url('Index/downloadUserExcel')}");
            }
        }]
    });
    // $('#orderList').datagrid('getPager').pagination({
    //     beforePageText: '第',
    //     afterPageText: '页，共 {pages} 页',
    //     displayMsg: '当前显示 {from} - {to} 条记录，共 {total} 条记录',
    // });
</script>
{/block}