{extend name="Template:base" /}
{block name="title"}基因检测-用户管理{/block}
{block name="other_css"}
<!-- other css -->
<style>
    .datagrid-body {
        overflow-x: scroll;
    }
</style>
{/block}
{block name="class"}{/block}
{block name="body"}
<table id="orderList"></table>
<div id="tb" style="padding:5px;height:auto">
    <div style="margin-bottom:5px">
        <a id="btn_export" href="#" plain="true">导出</a>
        <input id="search_box"></input>
    </div>
</div>
{/block}
{block name="other_js"}
<script>
    var search_value = "";
    $('#btn_export').linkbutton({
        iconCls: 'icon-print'
    });
    $('#btn_export').bind('click', function () {
        var url = "{:url('Index/downloadUserExcel')}" + '?value=' + search_value;
        window.open(url);
    });
    $('#search_box').searchbox({
        searcher: function (value, name) {
            search_value = value;
            $('#orderList').datagrid('load', {
                value: value
            });
        },
        prompt: '姓名/手机号/邮箱'
    });
    $('#orderList').datagrid({
        url: "{:url('Index/user')}",
        method: "POST",
        pagination: true,
        striped: true,
        singleSelect: true,
        pagePosition: 'bottom',
        pageSize: 50,
        pageList: [50, 100, 150, 200, 300],
        fit: true,
        border: false,
        columns: [[
            {field: 'id', title: 'ID', width: 80, align: 'center'},
            {field: 'nickname', title: '用户名', width: 150, align: 'center'},
            {field: 'sex', title: '性别', width: 50, align: 'center'},
            {field: 'mobile', title: '手机号', width: 150, align: 'center'},
            {field: 'email', title: '邮箱', width: 200, align: 'center'},
            {field: 'create_time', title: '创建时间', width: 150, align: 'center'}
        ]],
        toolbar: '#tb'
    });
</script>
{/block}