{extend name="Template:base" /}
{block name="title"}基因检测-绑定编号{/block}
{block name="other_css"}
<!-- other css -->
<link rel='stylesheet' href='__MOBILERESOURCE__/css/bindingend.css' type="text/css"/>
{/block}
{block name="body"}
<div class="wrapper">
    <div class="contents">
        <div class="content-1">
            <div class="select-order">绑定成功</div>
            <div class="content-bottom">
                <a class="form-img" onclick="" href="javascript:;">完成</a>
            </div>
        </div>
    </div>
</div>
{/block}
