{extend name="Template:base" /}
{block name="title"}基因检测-绑定编号{/block}
{block name="other_css"}
<!-- other css -->
<link rel='stylesheet' href='__MOBILERESOURCE__/css/binding.css' type="text/css"/>
{/block}
{block name="body"}
<div class="wrapper">
    <div class="contents">
        <div class="content-1">
            <div class="select-order">手动绑定</div>
            <div class="content-box">
                <div class="form-detail">
                    <label class="form-label">唾液采集编码：</label>
                    <input class="form-control" />
                </div>
            </div>
            <div class="content-bottom">
                <a class="form-img" href="{:url('Content/bindingend')}">下一步</a>
            </div>
        </div>
    </div>
</div>
{/block}
