{extend name="Template:base" /}
{block name="title"}基因检测-儿童检测{/block}
{block name="other_css"}
<!-- other css -->
<link rel='stylesheet' href='__MOBILERESOURCE__/css/kids.css' type="text/css"/>
{/block}
{block name="body"}
<div class="wrapper">
    <div class="contents">
        <div class="content-0">
            <div class="content-box">
                <div class="content-title">
                    <img src="__MOBILERESOURCE__/images/kids_mobillle/Title_07.png"/>
                </div>
                <div class="panel-describe">
                    <div class="describe-words">
                        <div>根据天赋优势制定的个性化教育使孩子更加优秀</div>
                        <div>因为遗传因素与天赋基因对于孩子行为的影响和</div>
                        <div>外界因素同样重要</div>
                        <div>天赋检测可以让孩子少走弯路</div>
                        <div>可以在父母的引导下进行开发自己的天赋</div>
                        <div>防止泯然众人。</div>
                    </div>
                </div>
                <div class="content-bottom">
                    <img class="content-bottom-img" src="__MOBILERESOURCE__/images/kids_mobillle/Title_03.png">
                </div>
            </div>
        </div>
        <div class="content-1">
            <div class="content-box">
                <div class="content-title">
                    <img src="__MOBILERESOURCE__/images/kids_mobillle/Title_10.png"/>
                </div>
                <div class="panel-describe">
                    <div class="describe-words">
                        <div>体能检测逐渐成为学生综合素质中不可缺少的一</div>
                        <div>部分</div>
                        <div>体质的多样性决定了孩子适合哪一种运动</div>
                        <div>无需各种繁琐的智商或体能测试</div>
                        <div>基因检测能帮您准备发现孩子的优势</div>
                        <div>并给出合适的建议</div>
                    </div>
                    <a class="violet-a">案例：语言表达能力</a>
                    <div class="describe-words-2">
                        <div>语言对孩子的个性也有很大的影响。语言发展的比较</div>
                        <div>好的孩子，往往思维活跃，性格开朗，喜欢同别人交</div>
                        <div>往，活动能力比较强。</div>
                    </div>
                </div>
                <div class="content-bottom">
                    <img class="content-bottom-img" src="__MOBILERESOURCE__/images/kids_mobillle/background.png">
                </div>
            </div>
        </div>
        <div class="content-2">
            <div class="content-box">
                <div class="content-title">
                    <img src="__MOBILERESOURCE__/images/kids_mobillle/Title_12.png"/>
                </div>
                <div class="panel-describe">
                    <div class="describe-words">
                        <div>您是否知道，基因不光会影响孩子的外形条件</div>
                        <div>同时也影响着孩子的兴趣爱好</div>
                        <div>基因检测服务能够帮助您通过数据化分析</div>
                        <div>更加了解孩子</div>
                        <div>同时也帮助您理解孩子身上出现的问题</div>
                        <div>从而更好的解决教育问题。</div>
                    </div>
                </div>
                <div class="content-bottom">
                    <img class="content-bottom-img" src="__MOBILERESOURCE__/images/kids_mobillle/Background_03.png">
                </div>
            </div>
        </div>
        <div class="content-3">
            <div class="content-box double-line">
                <div class="panel">
                    <div class="panel-title">
                        <img class="panel-title-img" src="__MOBILERESOURCE__/images/kids_mobillle/portrait.png"/>
                        <div class="panel-title-content">
                            <div>天赋检测和健康检测</div>
                            <div class="panel-title-2">共23项检测报告</div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="info-line">
                            <div class="info-detail-title">天赋检测</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">操作能力</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">认知和领悟能力</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">语言表达和交际能力</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">音乐天赋检测</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">数学和计算能力</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">记忆能力</div>
                        </div>
                        <div class="info-line-jian">
                            <div class="info-detail-title">健康检测</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">注意缺陷与多动障碍（多动症）</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">肥胖风险</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">近视风险</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">儿童哮喘风险</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">尼古丁伤害及成瘾性</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="other_js"}
<!-- other js -->
<script src="__COMMONRESOURCE__/js/my.js" type="text/javascript"></script>

{/block}