{extend name="Template:base" /}
{block name="title"}基因检测-用药指南{/block}
{block name="other_css"}
<!-- other css -->
<link rel='stylesheet' href='__MOBILERESOURCE__/css/medication.css' type="text/css"/>
{/block}
{block name="body"}
<div class="wrapper">
    <div class="contents">
        <div class="content-0">
            <div class="content-box">
                <div class="content-title">
                    <img src="__MOBILERESOURCE__/images/medication_mobile/Title_03.png"/>
                </div>
                <div class="panel-describe">
                    <div class="describe-words">
                        <div>有人很注重营养，也经常锻炼，</div>
                        <div>为什么身体还是不如别人健康强壮呢？</div>
                        <div>难道补充营养的方式错了吗？</div>
                        <div>其实，每个人在营养吸收能力上存在着非常大的</div>
                        <div>差异。营养素合理摄入量与个体的遗传因素有着</div>
                        <div>密切的关系。也就是说，基因比你更了解你身体</div>
                        <div>的营养需求</div>
                    </div>
                </div>
                <div class="content-bottom">
                    <img class="content-bottom-img" src="__MOBILERESOURCE__/images/medication_mobile/background_02.png">
                </div>
            </div>
        </div>
        <div class="content-1">
            <div class="content-box">
                <div class="content-title">
                    <img src="__MOBILERESOURCE__/images/medication_mobile/Title_05.png"/>
                </div>
                <div class="panel-describe">
                    <div class="describe-words">
                        <div>为什么有的人平时看起来很好，却突发心机梗</div>
                        <div>塞离开了人世？为什么癌症病人通常发现就是</div>
                        <div>晚期？毕竟癌症从一个癌细胞长大约需要十年</div>
                        <div>时间，期间你可能没有任何症状！但是一旦发病，终</div>
                        <div>生悔恨莫及！基因风险可以针对性的检测遗传</div>
                        <div>的易感基因，提前预知健康风险，维护生命健</div>
                        <div>康！</div>
                    </div>
                </div>
                <div class="content-bottom">
                    <img class="content-bottom-img" src="__MOBILERESOURCE__/images/medication_mobile/background_08.png">
                </div>
            </div>
        </div>
        <div class="content-2">
            <div class="content-box">
                <div class="content-title">
                    <img src="__MOBILERESOURCE__/images/medication_mobile/Title_06.png"/>
                </div>
                <div class="panel-describe">
                    <div class="describe-words">
                        <div>正确合理的用药是未来个体化医疗的重要</div>
                        <div>组成部分，基因检测帮助您提前预测到身</div>
                        <div>体针对不同部位和种类的抗药因素，因人</div>
                        <div>而异地科学用药，合理有效地避免因用药</div>
                        <div>而产生的过敏等现象。</div>
                    </div>
                </div>
                <div class="content-bottom">
                    <img class="content-bottom-img" src="__MOBILERESOURCE__/images/medication_mobile/background_04.png">
                </div>
            </div>
        </div>
        <div class="content-3">
            <div class="content-box double-line">
                <div class="panel">
                    <div class="panel-title">
                        <img class="panel-title-img" src="__MOBILERESOURCE__/images/medication_mobile/icon_03.png"/>
                        <div class="panel-title-content">
                            <div>营养及用药检测报告</div>
                            <div class="panel-title-2">共11项检测报告</div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="info-line">
                            <div class="info-detail-title">营养代谢</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">维生素B12需求</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">钙元素需求</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">铁元素需求</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">维生素E需求</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">DHA需求</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">叶酸需求</div>
                        </div>
                        <div class="info-line-jian">
                            <div class="info-detail-title">药物反应</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">抗感染类药物</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">神经系统类药物</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">心脑血管类药物</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">癌症、肿瘤类药物</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">肠胃疾病类药物</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="other_js"}
<!-- other js -->
<script src="__COMMONRESOURCE__/js/my.js" type="text/javascript"></script>

{/block}