{extend name="Template:base" /}
{block name="title"}基因检测-检测流程{/block}
{block name="other_css"}
<!-- other css -->
<link rel='stylesheet' href='__MOBILERESOURCE__/css/process.css' type="text/css"/>
{/block}
{block name="body"}
<div class="wrapper">
    <div class="contents">
        <div class="content-0">
            <div class="content-box">
                <div class="content-title">
                    <img class="title-size" src="__MOBILERESOURCE__/images/process_mobile/Title_03.png"/>
                </div>
                <div class="panel-describe">
                    <a class="violet-b" href="javascript:;">还未购买？立即购买。</a>
                </div>
                <div class="content-bottom">
                    <img class="content-bottom-img" src="__MOBILERESOURCE__/images/process_mobile/background_03.png">
                </div>
            </div>
        </div>
        <div class="content-1">
            <div class="content-box">
                <div class="content-title">
                    <img class="title-size" src="__MOBILERESOURCE__/images/process_mobile/Title_05.png"/>
                </div>
                <div class="panel-describe">
                    <div class="describe-words">
                        <div>在菜单中选择“样本绑定”，</div>
                        <div>打开基因样本采集管包装，</div>
                        <div>扫描采集管上的条形码进行绑定并输入必</div>
                        <div>须的个人信息。</div>
                    </div>
                </div>
                <div class="content-bottom">
                    <img class="content-bottom-img" src="__MOBILERESOURCE__/images/process_mobile/background_05.png">
                </div>
            </div>
        </div>
        <div class="content-2">
            <div class="content-box">
                <div class="content-title">
                    <img class="title-size" src="__MOBILERESOURCE__/images/process_mobile/Title_08.png"/>
                </div>
                <div class="panel-describe">
                    <div class="describe-words">
                        <div>根据用户使用说明书，</div>
                        <div>按摩脸颊放松后收集唾液至采集管中</div>
                        <div>（唾液须达到刻度线高度）</div>
                        <div>保持采集管直立</div>
                        <div>丢弃使用过的漏斗后取下采集管管盖</div>
                        <div>并用管盖将采集管拧紧。摇晃加盖的采集管五次，</div>
                        <div>基因检测样本在唾液与保存液的融和后完成。</div>
                    </div>
                    <a class="violet-b" href="javascript:;">下载采样说明</a>
                </div>
                <div class="content-bottom">
                    <img class="content-bottom-img" src="__MOBILERESOURCE__/images/process_mobile/jc_13.png">
                </div>
            </div>
        </div>
        <div class="content-3">
            <div class="content-box">
                <div class="content-title">
                    <img class="title-size" src="__MOBILERESOURCE__/images/process_mobile/Title_11.png"/>
                </div>
                <div class="panel-describe">
                    <div class="describe-words">
                        <div>基因样本采集管在回寄公司后将在4-6周</div>
                        <div>内生成检测报告，</div>
                        <div>您可以登录pica官网查询检测结果以及报</div>
                        <div>告生成进度。</div>
                    </div>
                    <a class="violet-b" href="javascript:;">查看结果示例</a>
                </div>
                <div class="content-bottom">
                    <img class="content-bottom-img" src="__MOBILERESOURCE__/images/process_mobile/background_07.png">
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="other_js"}
<!-- other js -->
<script src="__MOBILERESOURCE__/js/my.js" type="text/javascript"></script>

{/block}