{extend name="Template:base" /}
{block name="title"}基因检测-检测流程{/block}
{block name="other_css"}
<!-- other css -->
<link rel='stylesheet' href='__MOBILERESOURCE__/css/seeorder.css' type="text/css"/>
{/block}
{block name="body"}
<div class="wrapper">
    <div class="contents">
        <div class="content-1">
            <div class="select-order">查看订单</div>
            <div class="content-box">
                <div class="form-detail">
                    <label class="form-label">姓名：</label>
                    <span class="form-control">{$info.username}</span>
                </div>
                <div class="form-detail">
                    <label class="form-label">手机号：</label>
                    <span class="form-control">{$info.mobile}</span>
                </div>
                <div class="form-detail">
                    <label class="form-label">商品：</label>
                    <span class="form-control">{$info.subject}</span>
                </div>
                <div class="form-detail">
                    <label  class="form-label">订单编号：</label>
                    <span class="form-control">{$info.out_trade_no}</span>
                </div>
            </div>
            <div class="content-bottom">
                <img class="content-bottom-img" src="__MOBILERESOURCE__/images/order/1221.png">
            </div>
        </div>
    </div>
</div>
{/block}
