{extend name="Template:base" /}
{block name="title"}基因检测-检测流程{/block}
{block name="other_css"}
<!-- other css -->
<link rel='stylesheet' href='__MOBILERESOURCE__/css/selectorder.css' type="text/css"/>
{/block}
{block name="body"}
<div class="wrapper">
    <div class="contents">
        <div class="content-1">
            <div class="select-order">查看订单</div>
            <div class="content-box">
                <div class="form-detail">
                    <div class="form-left">
                        <img src="__PCRESOURCE__/images/gmym/gm_03.png" width="25%"/>
                    </div>
                    <div class="form-right">
                        <span>姓名</span>
                        <span>手机号</span>
                        <span>儿童检测</span>
                        <span>商品编号</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
