{extend name="Template:base" /}
{block name="title"}基因检测-查询结果{/block}
{block name="other_css"}
<!-- other css -->
<link rel='stylesheet' href='__MOBILERESOURCE__/css/order.css' type="text/css"/>
{/block}
{block name="body"}
<div class="wrapper">
    <div class="contents">
        <div class="content-1">
            <div class="select-order">查询结果<span style=" font-size: 13px;">（请点击要查看的结果）</span></div>
            <!--<div class="content-box">-->
                <!--<div class="form-detail">-->
                    <!--<label class="form-label">请输入查询编号：</label>-->
                    <!--<input class="form-control" id="number" value=""/>-->
                <!--</div>-->
            <!--</div>-->
            <ul class="order-list" style="margin-top: 50px">
                {volist name='list' id='item'}
                <li>
                    <table class="table-item" width="100%">
                        <caption>
                            结果编号:{$item.id}
                        </caption>
                        <tbody>
                        <tr>
                            <td class="item-name">姓名：{$item.username}</td>
                            <td class="item-price">套件码：{$item.serial_num}</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="item-detail item-btn-group">
                                <a class="btn-bind" href="{:url('Index/resultfile','id='.$item.id)}">查看</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li>
                {/volist}
            </ul>
        </div>
    </div>
</div>
{/block}

{block name="other_js"}
<!-- other js -->
{/block}
