{extend name="Template:base" /}
{block name="title"}基因检测-用药指南{/block}
{block name="other_css"}
<!-- other css -->
<link rel='stylesheet' href='__MOBILERESOURCE__/css/skin.css' type="text/css"/>
{/block}
{block name="body"}
<div class="wrapper">
    <div class="contents">
        <div class="content-0">
            <div class="content-box">
                <div class="content-title">
                    <img src="__MOBILERESOURCE__/images/skin_mobile/未标题-1_03.png"/>
                </div>
                <div class="panel-describe">
                    <div class="describe-words">
                        <div>在这个看脸的时代，判断一个人“小仙女”、</div>
                        <div>“小鲜肉”的首要标准看什么？当然看脸，但</div>
                        <div>看脸先看皮肤！那到底是什么在对我们的颜值</div>
                        <div>负责？当然是基因！不过现代人似乎一直都对</div>
                        <div>自己的肤质认识不足，梳妆台上的瓶瓶罐罐总</div>
                        <div>是买了不合适又扔。“肤质基因检测”与以往</div>
                        <div>物理仪器检测肤质的不同在于，它采用了先进</div>
                        <div>的科学技术从根源评估您的肤质，为您定制最</div>
                        <div>适合自己的护肤方案！</div>
                    </div>
                </div>
                <div class="content-bottom">
                    <img class="content-bottom-img" src="__MOBILERESOURCE__/images/skin_mobile/background1_03.png">
                </div>
            </div>
        </div>
        <div class="content-1">
            <div class="content-box">
                <div class="content-title">
                    <img src="__MOBILERESOURCE__/images/skin_mobile/未标题-1_05.png"/>
                </div>
                <div class="panel-describe">
                    <div class="describe-words">
                        <div>根据您的基因数据，通过不同项目的检测，</div>
                        <div>帮您分析适合您自己的化妆品与护肤品，给与科</div>
                        <div>学的建议，使您从本质上找到适合自己的保养</div>
                        <div>方法，避免盲目使用护肤品而引起过敏反应。</div>
                    </div>
                    <a class="violet-a" href="javascript:;">案例：抗过敏能力</a>
                </div>
                <div class="content-bottom">
                    <img class="content-bottom-img" src="__MOBILERESOURCE__/images/skin_mobile/background1_07.png">
                </div>
            </div>
        </div>
        <div class="content-2">
            <div class="content-box">
                <div class="content-title">
                    <img src="__MOBILERESOURCE__/images/skin_mobile/未标题-1_06.png"/>
                </div>
                <div class="panel-describe">
                    <div class="describe-words">
                        <div>皮肤是一个复杂的系统，因此皮肤问题也多种</div>
                        <div>多样。当我们在爱美的道路上悉心呵护皮肤的</div>
                        <div>同时，也需要规避可能给皮肤带来损伤的风险</div>
                        <div>因素。“肤质基因检测”通过检测与皮肤美白</div>
                        <div>、抗皱、保湿、抗氧化这四大板块及有关营养</div>
                        <div>代谢的相关基因位点，从而准确评估您的肤质</div>
                        <div>，使您在变美的道路上畅通无阻，快速准确地</div>
                        <div>找对方法。</div>
                    </div>
                </div>
                <div class="content-bottom">
                    <img class="content-bottom-img" src="__MOBILERESOURCE__/images/skin_mobile/back004.png">
                </div>
            </div>
        </div>
        <div class="content-3">
            <div class="content-box double-line">
                <div class="panel">
                    <div class="panel-title">
                        <img class="panel-title-img" src="__MOBILERESOURCE__/images/skin_mobile/icon_03.png"/>
                        <div class="panel-title-content">
                            <div>肤质检测</div>
                            <div class="panel-title-2">共8项检测报告</div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="info-line">
                            <div class="info-detail-title">肤质检测</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">抗衰老能力</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">脂肪代谢能力</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">防晒能力</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">抗氧化能力</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">抗过敏能力</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">抗辐射能力</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">缩水和保湿能力</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">抗黑色素能力</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-bottom">
                <a class="back-buy" href="{:url('order/index','id=5')}">立即购买</a>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="other_js"}
<!-- other js -->
<script src="__COMMONRESOURCE__/js/my.js" type="text/javascript"></script>

{/block}