{extend name="Template:base" /}
{block name="title"}基因检测-首页{/block} 
{block name="other_css"}
<!-- other css -->
<link rel='stylesheet' href='__STATIC__/dist/css/home.css' type="text/css" />
{/block} 
{block name="other_js"}
<!-- other js -->
{/block} 
{block name="body"}
<div class="wrapper">
	<div class="topbar">
		<div class="content-box">
			<a class="logo" href="/#">
				<img src="static/dist/images/logo.png" />
			</a>
			<ul class="navbar">
				<li class="nav">
					<a href="/#">首页</a>
				</li>
				<li class="nav">
					<a href="/#">检测流程</a>
				</li>
				<li class="nav">
					<a href="/#">检测结果</a>
				</li>
				<li class="nav">
					<a href="/#">购买</a>
				</li>
				<li class="nav">
					<a class="link-blue" href="/#">注册</a>
				</li>
				<li class="nav">
					<a href="/#">登录</a>
				</li>
			</ul>
		</div>
	</div>
	<a class="top-link" href="/#"></a>
	<div class="contents">
		<div class="content-1">
			<div class="content-box">
				<div class="content-title" style="text-align: center;">
					<div class="describe-title">
						<img src="static/dist/images/home/title1.png" />
					</div>
				</div>
				<div class="card-group">
					<a class="card card-1" href="/#">
						<span class="card-icon"></span>
						<span class="card-title">高精准度</span>
						<span class="card-box">
							与科研机构联手开展基因研究，技术保障检测结果的精准度，邀您一起探索基因的奥秘，破解基因的密码。
						</span>
					</a>
					<a class="card card-2" href="/#">
						<span class="card-icon"></span>
						<span class="card-title">高安全性</span>
						<span class="card-box">
							采用一切合理的技术来保护我们所控制的数据不被意外或故意地操纵、丢失或被盗取。
						</span>
					</a>
					<a class="card card-3" href="/#">
						<span class="card-icon"></span>
						<span class="card-title">高效服务</span>
						<span class="card-box">
							优化检测流程，检测效率高，最大限度的为您节省时间，专业客服全程服务，为您解答疑惑，跟进报告。
						</span>
					</a>
				</div>
			</div>
		</div>
		<div class="content-2">
			<div class="content-box">
				<div class="content-left">
					<div class="panel">
						<div class="panel-title">你的祖源分析</div>
						<div class="panel-body">
							<div class="persion-icon">
								<img />
							</div>
							<div class="infos">
								<div class="info-line">
									<div class="info-detail icon-blue">
										58.9%英国
									</div>
									<div class="info-detail icon-red">
										14.2%法国
									</div>
								</div>
								<div class="info-line">
									<div class="info-detail icon-green">
										14.6%希腊
									</div>
									<div class="info-detail icon-sky">
										12.3%中国
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="content-right">
					<div class="panel-describe">
						<img class="describe-title" src="static/dist/images/home/title2.png" />
						<div class="describe-words">不同的民族血统，祖源成分和家族基因都影响着我们的长相，也潜移默化了我们的成长方式与语言文化。通过基因分析祖源成分能够进一步分析您是谁，您来自哪里。</div>
						<div class="describe-kinds">
							<div class="describe-kinds-piece">祖源分析</div>
							<div class="describe-kinds-piece">血统成分</div>
							<div class="describe-kinds-piece">基因关系</div>
						</div>
						<a class="btn btn-blue" href="/#">了解更多</a>
					</div>
				</div>
			</div>
		</div>
		<div class="content-3">
			<div class="content-box">
				<div class="content-left">
					<div class="panel-describe">
						<img class="describe-title" src="static/dist/images/home/title3.png" />
						<div class="describe-words">同样的化妆品我为什么有人使用安然无恙，有人使用却损伤皮肤引起过敏？ 基因检测可以从本质上找到适合自己的保养方法，避免盲目使用保养产品带来的各类风险。</div>
						<div class="describe-kinds">
							<div class="describe-kinds-piece">抗衰老能力检测</div>
							<div class="describe-kinds-piece">脂肪代谢能力检测</div>
							<div class="describe-kinds-piece">抗过敏能力检测</div>
							<div class="describe-kinds-piece">防晒能力检测</div>
							<div class="describe-kinds-piece">防辐射能力检测</div>
						</div>
						<a class="btn" href="/#">了解更多</a>
					</div>
				</div>
				<div class="content-right">
					<img class="content-img" src="static/dist/images/home/Figure_04.png" />
				</div>
			</div>
		</div>
		<div class="content-4">
			<div class="content-box">
				<div class="content-left">
					<div class="panel-describe">
						<img class="describe-title" src="static/dist/images/home/title4_03.png" />
						<div class="describe-words">人在不同的年龄阶段，对营养的需求各不相同。 而一些特殊时期的营养摄入，对自身的意义尤为重大，甚至会影响下一代的健康。 我们的基因决定了我们吃什么药管用，吃什么药不管用。</div>
						<a class="btn btn-blue" href="/#">了解更多</a>
					</div>
				</div>
			</div>
		</div>
		<div class="content-5">
			<div class="content-box double-line">
				<div class="content-left">
					<div class="panel-describe">
						<img class="describe-title" src="static/dist/images/home/title5_03.png" />
						<div class="describe-words"> 基因检测和传统体检相比较，安全性和准确性更高， 随着人们生活水平的提高，未病先防和健康生活已经成为一种趋势， 通过基因检测，可以早发现，早干预，早预防。</div>
						<a class="btn btn-blue" href="/#">了解更多</a>
					</div>
				</div>
				<div class="content-bottom">
					<a class="selects selects-1" href="/#">
						<span class="selects-content">
							<span class="selects-content-box">
							<span class="selectes-title">肥胖风险基因检测</span>
						<span class="selectes-words">肥胖基因检测有效分析个人先天遗传肥胖体质， 进而依照不同体质与需求， 规划“个人专属”健康又有效的瘦身计划，</span>
						</span>
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer">
	</footer>
</div>
{/block}
