{extend name="Template:base" /}
{block name="title"}基因检测-儿童天赋检测页面{/block}
{block name="other_css"}
<!-- other css -->
<link rel='stylesheet' href='__PCRESOURCE__/css/kids.css' type="text/css"/>
{/block}
{block name="body"}
<div class="wrapper">
    {include file="Template:top" /}
    <div class="content">
        <div class="content-1">
            <div class="content-box">
                <div class="content-left">
                    <div class="panel-describe animated-end">
                        <img class="describe-title animated fadeInUp icon-title"
                             src="__PCRESOURCE__/images/talent/Title_03.png">
                        <div class="describe-words animated fadeInUp describe-content">
                            根据天赋优势制定的个性化教育使孩子更加优秀，因为遗传因素与天赋基因对于孩子行为的影响和外界因素同样重要。天赋检测可以让孩子少走弯路，可以在父母的引导下进行开发自己的天赋，防止泯然众人。
                        </div>
                    </div>
                </div>
                <div class="content-right">
                    <img class="content-img" src="__PCRESOURCE__/images/talent/qt_03.png">
                </div>
            </div>
        </div>
        <div class="content-2">
            <div class="content-box">
                <div class="content-left">
                    <img class="content-img" src="__PCRESOURCE__/images/talent/qt_11.png">
                </div>
                <div class="content-right">
                    <div class="panel-describe animated-end">
                        <img class="describe-title animated fadeInUp icon-title"
                             src="__PCRESOURCE__/images/talent/Title_06.png">
                        <div class="describe-words animated fadeInUp describe-content">
                            体能检测逐渐成为学生综合素质中不可缺少的一部分，体质的多样性决定了孩子适合哪一种运动。无需各种繁琐的智商或体能测试，基因检测能帮您准确发现孩子的优势，并给出合适的建议，为孩子个性化发展指明方向。
                        </div>
                        <a class="btn btn-violet animated fadeInUp violet" href="javascript:;">案例：语言表达能力</a>
                        <div class="describe-words animated fadeInUp describe-content">
                            语言对孩子的个性也有很大的影响。语言发展比较好的孩子，往往思想活跃，性格开朗，喜欢同别人交往，活动能力比较强。
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-3">
            <div class="content-box">
                <div class="content-left">
                    <div class="panel-describe animated-end">
                        <img class="describe-title animated fadeInUp icon-title"
                             src="__PCRESOURCE__/images/talent/Title_08.png">
                        <div class="describe-words animated fadeInUp describe-content">
                            您是否知道，基因不光会影响孩子的外形条件，同时也影响着孩子的兴趣爱好？基因检测服务能够帮助您通过数据化分析，更加了解孩子，同时也帮助您理解孩子身上出现的问题，从而更好的解决教育问题。
                        </div>
                    </div>
                </div>
                <div class="content-right">
                    <img class="content-img" src="__PCRESOURCE__/images/talent/qt_14.png">
                </div>
            </div>
        </div>
        <div class="content-4">
            <div class="content-box double-line">
                <div class="panel">
                    <div class="panel-title">
                        <div>天赋检测和健康检测</div>
                        <div class="panel-title-2">共23项检测报告</div>
                    </div>
                    <div class="panel-body">
                        <div class="info-line">
                            <div class="info-detail-title">天赋检测</div>
                            <div class="info-detail-title">健康检测</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                            <hr class="info-detail-hr-1">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">操作能力</div>
                            <div class="info-detail">注意缺陷与多动障碍（多动症）</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                            <hr class="info-detail-hr-1">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">认知和领悟能力</div>
                            <div class="info-detail">肥胖风险</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                            <hr class="info-detail-hr-1">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">语言表达和交际能力</div>
                            <div class="info-detail">近视风险</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                            <hr class="info-detail-hr-1">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">音乐天赋检测</div>
                            <div class="info-detail">儿童哮喘风险</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                            <hr class="info-detail-hr-1">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">数学和计算能力</div>
                            <div class="info-detail">尼古丁伤害及成瘾性</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                            <hr class="info-detail-hr-1">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">记忆能力</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {include file="Template:footer" /}
</div>
{/block}
{block name="other_js"}
<!-- other js -->
<script src="__COMMONRESOURCE__/js/my.js" type="text/javascript"></script>
<script>
    $.my_init();
</script>
{/block}
