{extend name="Template:base" /}
{block name="title"}基因检测-儿童天赋检测页面{/block}
{block name="other_css"}
<!-- other css -->
<link rel='stylesheet' href='__STATIC__/dist/css/kids.css' type="text/css"/>
{/block}
{block name="body"}
<div class="wrapper">
    <div class="topbar">
        <div class="content-box">
            <a class="logo" href="/#">
                <img src="__STATIC__/dist/images/logo.png"/>
            </a>
            <ul class="navbar">
                <li class="nav">
                    <a href="/#">首页</a>
                </li>
                <li class="nav">
                    <a href="/#">检测流程</a>
                </li>
                <li class="nav">
                    <a href="/#">检测结果</a>
                </li>
                <li class="nav">
                    <a href="/#">购买</a>
                </li>
                <li class="nav">
                    <a class="link-blue" href="/#">注册</a>
                </li>
                <li class="nav">
                    <a href="/#">登录</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="content-1">
            <div class="content-left-title">
                探究天赋
            </div>
            <div class="content-left-paragraph">
                根据天赋优势制定的个性化教育使孩子更加优秀，因为遗传因素与天赋基因对于孩子行为的影响和外界因素同样重要。天赋检测可以让孩子少走弯路，可以在父母的引导下进行开发自己的天赋，防止泯然众人。
            </div>
        </div>
        <div class="content-2">
            <div class="content-right-title">
                因材施教
            </div>
            <div class="content-right-paragraph">
                体能检测逐渐成为学生综合素质中不可缺少的一部分，体质的多样性决定了孩子适合哪一种运动。无需各种繁琐的智商或体能测试，基因检测能帮您准确发现孩子的优势，并给出合适的建议，为孩子个性化发展指明方向。
                <img class="content-right-icon" src="__STATIC__/dist/images/talent/Button_03.png" />
            </div>
            <div class="content-right-case">
                案例：语言表达能力
            </div>
            <div class="content-right-describe">
                语言对孩子的个性也有很大的影响。语言发展比较好的孩子，往往思想活跃，性格开朗，喜欢同别人交往，活动能力比较强。
            </div>
        </div>
        <div class="content-3">
            <div class="content-left-title-3">
                发觉优势
            </div>
            <div class="content-left-paragraph-3">
                您是否知道，基因不光会影响孩子的外形条件，同时也影响着孩子的兴趣爱好？基因检测服务能帮助您通过数据化分析，更加了解孩子，同时也帮助您理解孩子身上出现的问题，从而更好的解决教育问题。
            </div>
        </div>
        <div class="content-4">

        </div>
    </div>
    <footer class="footer">
        <div class="content-box">
            <div class="content-left">
                <ul class="footer-column">
                    <li class="footer-column-title">首页</li>
                    <ul class="footer-column-content">
                        <li><a href="javascript:;">购买</a></li>
                        <li><a href="javascript:;">追踪祖源</a></li>
                        <li><a href="javascript:;">预防疾病</a></li>
                        <li><a href="javascript:;">肤质检测</a></li>
                        <li><a href="javascript:;">天赋检测</a></li>
                        <li><a href="javascript:;">安全用药</a></li>
                    </ul>
                </ul>
                <ul class="footer-column">
                    <li class="footer-column-title">关于湃咖</li>
                    <ul class="footer-column-content">
                        <li><a href="javascript:;">关于我们</a></li>
                        <li><a href="javascript:;">隐私保护</a></li>
                        <li><a href="javascript:;">安全协议</a></li>
                        <li><a href="javascript:;">加入我们</a></li>
                    </ul>
                </ul>
                <ul class="footer-column">
                    <li class="footer-column-title">用户中心</li>
                    <ul class="footer-column-content">
                        <li><a href="javascript:;">登录</a></li>
                        <li><a href="javascript:;">注册</a></li>
                        <li><a href="javascript:;">个人中心</a></li>
                        <li><a href="javascript:;">加入我们</a></li>
                    </ul>
                </ul>
            </div>
            <div class="content-right">
                <ul class="footer-column">
                    <li class="footer-column-title">关注我们</li>
                    <ul class="footer-column-content">
                        <li><img src="__STATIC__/dist/images/home/QR_code.png"/></li>
                    </ul>
                </ul>
                <ul class="footer-column">
                    <li class="footer-column-title">联系我们</li>
                    <ul class="footer-column-content">
                        <li>客服电话 400-006-2323</li>
                        <li>合作电话 400-006-2323</li>
                    </ul>
                </ul>
            </div>
            <div class="footer-copyright">&copy; 2018 WeGene. All Rights Reserved 粤ICP备15012185号</div>
        </div>
    </footer>
</div>
{/block}
{block name="other_js"}
<!-- other js -->
<script src="__STATIC__/dist/js/my.js" type="text/javascript"></script>
<script>
    $.my_init();
</script>
{/block}
