{extend name="Template:base" /}
{block name="title"}基因检测-用药指南页面{/block}
{block name="other_css"}
<!-- other css -->
<link rel='stylesheet' href='__STATIC__/dist/css/medication.css' type="text/css"/>
{/block}
{block name="body"}
<div class="wrapper">
    <div class="topbar">
        <div class="content-box">
            <a class="logo" href="/#">
                <img src="__STATIC__/dist/images/logo.png"/>
            </a>
            <ul class="navbar">
                <li class="nav">
                    <a href="/#">首页</a>
                </li>
                <li class="nav">
                    <a href="/#">检测流程</a>
                </li>
                <li class="nav">
                    <a href="/#">检测结果</a>
                </li>
                <li class="nav">
                    <a href="/#">购买</a>
                </li>
                <li class="nav">
                    <a class="link-blue" href="/#">注册</a>
                </li>
                <li class="nav">
                    <a href="/#">登录</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="content-1">
            <div class="content-box">
                <div class="content-left">
                    <div class="panel-describe animated-end">
                        <img class="describe-title animated fadeInUp icon-title"
                             src="__STATIC__/dist/images/medication/yy_11.png">
                        <div class="describe-words animated fadeInUp describe-content">
                            有人很注重营养，也经常运动锻炼，为什么身体还是不如别人健康强壮呢？难道补充营养的方式错了吗？其实，每个人在营养吸收能力上存在着非常大的差异。营养素合理摄入量与个体的遗传因素有着密切的关系。也就是说，基因比你更了解你身体的营养需求。
                        </div>
                    </div>
                </div>
                <div class="content-right">
                    <img class="content-img" src="__STATIC__/dist/images/medication/yy_03.png">
                </div>
            </div>
        </div>
        <div class="content-2">
            <div class="content-box">
                <div class="content-left">
                    <img class="content-img" src="__STATIC__/dist/images/medication/yy_06.png">
                </div>
                <div class="content-right">
                    <div class="panel-describe animated-end">
                        <img class="describe-title animated fadeInUp icon-title"
                             src="__STATIC__/dist/images/medication/yy_12.png">
                        <div class="describe-words animated fadeInUp describe-content">
                            为什么有的人平时看起来很好，却突发心肌梗塞离开人世？为什么癌症病人通常发现就是晚期？毕竟癌症从一个癌细胞长大约需要十年时间，期间你可能没有任何症状！现实中还有很多的疾病并无明显症状，但是一旦发病，终生悔恨莫及！基因风险可以针对性的检测遗传的易感基因，提前预知健康风险，维护生命健康！
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-3">
            <div class="content-box">
                <div class="content-left">
                    <div class="panel-describe animated-end">
                        <img class="describe-title animated fadeInUp icon-title"
                             src="__STATIC__/dist/images/medication/yy_14.png">
                        <div class="describe-words animated fadeInUp describe-content">
                            正确合理的用药是未来个体化医疗的重要组成部分，基因检测帮助您提前预测到身体针对不同部位和种类的抗药因素，因人而异地科学用药，合理有效地避免因用药而产生的过敏等现象。
                        </div>
                    </div>
                </div>
                <div class="content-right">
                    <img class="content-img" src="__STATIC__/dist/images/medication/yy_09.png">
                </div>
            </div>
        </div>
        <div class="content-4">
            <div class="content-box">
                <div class="panel">
                    <div class="panel-title">
                        <img class="panel-title-img" src="__STATIC__/dist/images/medication/yy_15.png">
                        <div class="panel-title-content">
                            <div>营养及用药检测报告</div>
                            <div class="panel-title-2">共11项检测报告</div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="info-line">
                            <div class="info-detail-title">营养代谢</div>
                            <div class="info-detail-title">药物反应</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                            <hr class="info-detail-hr-1">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">维生素B12需求</div>
                            <div class="info-detail">抗感染类药物</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                            <hr class="info-detail-hr-1">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">钙元素需求</div>
                            <div class="info-detail">神经系统类药物</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                            <hr class="info-detail-hr-1">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">铁元素需求</div>
                            <div class="info-detail">心脑血管类药物</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                            <hr class="info-detail-hr-1">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">维生素E需求</div>
                            <div class="info-detail">癌症、肿瘤类药物</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                            <hr class="info-detail-hr-1">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">DNA需求</div>
                            <div class="info-detail">肠胃疾病类药物</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                            <hr class="info-detail-hr-1">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">叶酸需求</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="content-box">
            <div class="content-left">
                <ul class="footer-column">
                    <li class="footer-column-title">首页</li>
                    <ul class="footer-column-content">
                        <li><a href="javascript:;">购买</a></li>
                        <li><a href="javascript:;">追踪祖源</a></li>
                        <li><a href="javascript:;">预防疾病</a></li>
                        <li><a href="javascript:;">肤质检测</a></li>
                        <li><a href="javascript:;">天赋检测</a></li>
                        <li><a href="javascript:;">安全用药</a></li>
                    </ul>
                </ul>
                <ul class="footer-column">
                    <li class="footer-column-title">关于湃咖</li>
                    <ul class="footer-column-content">
                        <li><a href="javascript:;">关于我们</a></li>
                        <li><a href="javascript:;">隐私保护</a></li>
                        <li><a href="javascript:;">安全协议</a></li>
                        <li><a href="javascript:;">加入我们</a></li>
                    </ul>
                </ul>
                <ul class="footer-column">
                    <li class="footer-column-title">用户中心</li>
                    <ul class="footer-column-content">
                        <li><a href="javascript:;">登录</a></li>
                        <li><a href="javascript:;">注册</a></li>
                        <li><a href="javascript:;">个人中心</a></li>
                        <li><a href="javascript:;">加入我们</a></li>
                    </ul>
                </ul>
            </div>
            <div class="content-right">
                <ul class="footer-column">
                    <li class="footer-column-title">关注我们</li>
                    <ul class="footer-column-content">
                        <li><img src="__STATIC__/dist/images/home/QR_code.png"/></li>
                    </ul>
                </ul>
                <ul class="footer-column">
                    <li class="footer-column-title">联系我们</li>
                    <ul class="footer-column-content">
                        <li>客服电话 400-006-2323</li>
                        <li>合作电话 400-006-2323</li>
                    </ul>
                </ul>
            </div>
            <div class="footer-copyright">&copy; 2018 WeGene. All Rights Reserved 粤ICP备15012185号</div>
        </div>
    </footer>
</div>
{/block}
{block name="other_js"}
<!-- other js -->
<script src="__STATIC__/dist/js/my.js" type="text/javascript"></script>
<script>
    $.my_init();
</script>
{/block}
