{extend name="Template:base" /}
{block name="title"}基因检测-检测流程页面{/block}
{block name="other_css"}
<!-- other css -->
<link rel='stylesheet' href='__STATIC__/dist/css/process.css' type="text/css"/>
{/block}
{block name="body"}
<div class="wrapper">
    <div class="topbar">
        <div class="content-box">
            <a class="logo" href="/#">
                <img src="__STATIC__/dist/images/logo.png"/>
            </a>
            <ul class="navbar">
                <li class="nav">
                    <a href="/#">首页</a>
                </li>
                <li class="nav">
                    <a href="/#">检测流程</a>
                </li>
                <li class="nav">
                    <a href="/#">检测结果</a>
                </li>
                <li class="nav">
                    <a href="/#">购买</a>
                </li>
                <li class="nav">
                    <a class="link-blue" href="/#">注册</a>
                </li>
                <li class="nav">
                    <a href="/#">登录</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="content-1">
            <div class="content-box">
                <div class="content-left">
                    <div class="panel-describe animated-end">
                        <img class="describe-title animated fadeInUp icon-title"
                             src="__STATIC__/dist/images/process/jc_22.png">
                        <a class="describe-words animated fadeInUp describe-contenta">
                            还未购买？立即购买
                        </a>
                    </div>
                </div>
                <div class="content-right">
                    <img class="content-img" src="__STATIC__/dist/images/process/jc_05.png">
                </div>
            </div>
        </div>
        <div class="content-2">
            <div class="content-box">
                <div class="content-left">
                    <img class="content-img" src="__STATIC__/dist/images/process/jc_03.png">
                </div>
                <div class="content-right">
                    <div class="panel-describe animated-end">
                        <img class="describe-title animated fadeInUp icon-title"
                             src="__STATIC__/dist/images/process/jc_20.png">
                        <div class="describe-words animated fadeInUp describe-content">
                           在采集样本中选择“样本绑定”，
                        </div>
                        <div class="describe-words animated fadeInUp describe-content1">
                            打开基因样本采集管包装，
                        </div>
                        <div class="describe-words animated fadeInUp describe-content2">
                            扫描采集管上的条形码进行绑定并输入必须的个人信息。
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-3">
            <div class="content-box">
                <div class="content-left">
                    <div class="panel-describe animated-end">
                        <img class="describe-title animated fadeInUp icon-title"
                             src="__STATIC__/dist/images/process/jc_15.png">
                        <div class="describe-words animated fadeInUp describe-content">
                           根据用户使用说明书，
                        </div>
                        <div class="describe-words animated fadeInUp describe-content1">
                           按摩脸颊放松后收集唾液至采集管中（唾液需达到刻度线高度），
                        </div>
                        <div class="describe-words animated fadeInUp describe-content2">
                            保持采集管直立，丢弃使用过的漏斗后取下采集管管盖，
                        </div>
                        <div class="describe-words animated fadeInUp describe-content3">
                            并用管盖将采集管拧紧。摇晃加盖的采集管五次，
                        </div>
                        <div class="describe-words animated fadeInUp describe-content4">
                            基因检测样本在唾液与保存液的融合后完成。
                        </div>
                        <a class="describe-words animated fadeInUp describe-contenta">
                         下载采样说明
                        </a>
                    </div>
                </div>
                <div class="content-right">
                    <img class="content-img" src="__STATIC__/dist/images/process/jc_13.png">
                </div>
            </div>
        </div>
        <div class="content-4">
            <div class="content-box">
                <div class="content-left">
                    <img class="content-img" src="__STATIC__/dist/images/process/jc_25.png">
                </div>
                <div class="content-right">
                    <div class="panel-describe animated-end">
                        <img class="describe-title animated fadeInUp icon-title"
                             src="__STATIC__/dist/images/process/jc_18.png">
                        <div class="describe-words animated fadeInUp describe-content">
                            基因样本采集管在回寄公司后将在4-6周内生成检测报告，
                        </div>
                        <div class="describe-words animated fadeInUp describe-content1">
                            您可以登录PICA官网查询检测结果以及报告生成进度。
                        </div>
                        <a class="describe-words animated fadeInUp describe-contenta">
                            查看结果示例
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="content-box">
            <div class="content-left">
                <ul class="footer-column">
                    <li class="footer-column-title">首页</li>
                    <ul class="footer-column-content">
                        <li><a href="javascript:;">购买</a></li>
                        <li><a href="javascript:;">追踪祖源</a></li>
                        <li><a href="javascript:;">预防疾病</a></li>
                        <li><a href="javascript:;">肤质检测</a></li>
                        <li><a href="javascript:;">天赋检测</a></li>
                        <li><a href="javascript:;">安全用药</a></li>
                    </ul>
                </ul>
                <ul class="footer-column">
                    <li class="footer-column-title">关于湃咖</li>
                    <ul class="footer-column-content">
                        <li><a href="javascript:;">关于我们</a></li>
                        <li><a href="javascript:;">隐私保护</a></li>
                        <li><a href="javascript:;">安全协议</a></li>
                        <li><a href="javascript:;">加入我们</a></li>
                    </ul>
                </ul>
                <ul class="footer-column">
                    <li class="footer-column-title">用户中心</li>
                    <ul class="footer-column-content">
                        <li><a href="javascript:;">登录</a></li>
                        <li><a href="javascript:;">注册</a></li>
                        <li><a href="javascript:;">个人中心</a></li>
                        <li><a href="javascript:;">加入我们</a></li>
                    </ul>
                </ul>
            </div>
            <div class="content-right">
                <ul class="footer-column">
                    <li class="footer-column-title">关注我们</li>
                    <ul class="footer-column-content">
                        <li><img src="__STATIC__/dist/images/home/QR_code.png"/></li>
                    </ul>
                </ul>
                <ul class="footer-column">
                    <li class="footer-column-title">联系我们</li>
                    <ul class="footer-column-content">
                        <li>客服电话 400-006-2323</li>
                        <li>合作电话 400-006-2323</li>
                    </ul>
                </ul>
            </div>
            <div class="footer-copyright">&copy; 2018 WeGene. All Rights Reserved 粤ICP备15012185号</div>
        </div>
    </footer>
</div>
{/block}
{block name="other_js"}
<!-- other js -->
<script src="__STATIC__/dist/js/my.js" type="text/javascript"></script>
<script>
    $.my_init();
</script>
{/block}
