{extend name="Template:base" /}
{block name="title"}基因检测-肤质检测页面{/block}
{block name="other_css"}
<!-- other css -->
<link rel='stylesheet' href='__PCRESOURCE__/css/skin.css' type="text/css"/>
{/block}
{block name="body"}
<div class="wrapper">
    {include file="Template:top" /}
    <div class="content">
        <div class="content-1">
            <div class="content-box">
                <div class="content-left">
                    <div class="panel-describe animated-end">
                        <img class="describe-title animated fadeInUp icon-title"
                             src="__PCRESOURCE__/images/skin/Title_11.png">
                        <div class="describe-words animated fadeInUp describe-content">
                            在这个看脸的时代，判断一个人“小仙女”、“小鲜肉”的首要标准看什么？当然看脸，但看脸先看皮肤！那到底是什么在对我们的颜值负责？当然是基因！不过现代人似乎一直都对自己的肤质认识不足，梳妆台上的瓶瓶罐罐总是买了不合适又扔。“肤质基因检测”与以往物理仪器检测肤质的不同在于，它采用了先进的科学技术从根源评估您的肤质，为您定制最适合自己的护肤方案！
                        </div>
                    </div>
                </div>
                <div class="content-right">
                    <img class="content-img" src="__PCRESOURCE__/images/skin/qt_06.png">
                </div>
            </div>
        </div>
        <div class="content-2">
            <div class="content-box">
                <div class="content-left">
                    <img class="content-img" src="__PCRESOURCE__/images/skin/background_02_02.png">
                </div>
                <div class="content-right">
                    <div class="panel-describe animated-end">
                        <img class="describe-title animated fadeInUp icon-title"
                             src="__PCRESOURCE__/images/skin/Title_14.png">
                        <div class="describe-words animated fadeInUp describe-content">
                            根据您的基因数据，通过不同项目的检测，帮您分析适合您自己的化妆品与护肤品，给与科学的建议，使您从本质上找到适合自己的保养方法，避免盲目使用护肤品而引起过敏反应。
                        </div>
                        <a class="btn btn-violet animated fadeInUp violet" href="javascript:;">案例：抗过敏能力</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-3">
            <div class="content-box">
                <div class="content-left">
                    <div class="panel-describe animated-end">
                        <img class="describe-title animated fadeInUp icon-title"
                             src="__PCRESOURCE__/images/skin/Title_17.png">
                        <div class="describe-words animated fadeInUp describe-content">
                            皮肤是一个复杂的系统，因此皮肤问题也多种多样。当我们在爱美的道路上悉心呵护皮肤的同时，也需要规避可能给皮肤带来损伤的风险因素。“肤质基因检测”通过检测与皮肤美白、抗皱、保湿、抗氧化这四大板块及有关营养代谢的相关基因位点，从而准确评估您的肤质，使您在变美的道路上畅通无阻，快速准确地找方法。
                        </div>
                    </div>
                </div>
                <div class="content-right">
                    <img class="content-img" src="__PCRESOURCE__/images/skin/back007.png">
                </div>
            </div>
        </div>
        <div class="content-4">
            <div class="content-box double-line">
                <div class="panel">
                    <div class="panel-title">
                    </div>
                    <div class="panel-body">
                        <div class="info-line">
                            <div class="info-detail-title">肤质检测</div>
                            <hr class="info-detail-hr">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">抗衰老能力</div>
                            <div class="info-detail">抗过敏能力</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                            <hr class="info-detail-hr-1">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">脂肪代谢能力</div>
                            <div class="info-detail">防辐射能力</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                            <hr class="info-detail-hr-1">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">防晒能力</div>
                            <div class="info-detail">缩水和保湿能力</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                            <hr class="info-detail-hr-1">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail">抗氧化能力</div>
                            <div class="info-detail">抗黑色素能力</div>
                        </div>
                        <div class="info-line-1">
                            <hr class="info-detail-hr">
                            <hr class="info-detail-hr-1">
                        </div>
                        <div class="info-line-1">
                            <div class="info-detail"><a class="btn btn-violet animated fadeInUp violet" href="javascript:;">立即购买</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {include file="Template:footer" /}
</div>
{/block}
{block name="other_js"}
<!-- other js -->
<script src="__COMMONRESOURCE__/js/my.js" type="text/javascript"></script>
<script>
    $.my_init();
</script>
{/block}
