{extend name="Template:base" /}
{block name="title"}基因检测-肤质检测页面{/block}
{block name="other_css"}
<!-- other css -->
<link rel='stylesheet' href='__STATIC__/dist/css/skin.css' type="text/css"/>
{/block}
{block name="body"}
<div class="wrapper">
    <div class="topbar">
        <div class="content-box">
            <a class="logo" href="/#">
                <img src="__STATIC__/dist/images/logo.png"/>
            </a>
            <ul class="navbar">
                <li class="nav">
                    <a href="/#">首页</a>
                </li>
                <li class="nav">
                    <a href="/#">检测流程</a>
                </li>
                <li class="nav">
                    <a href="/#">检测结果</a>
                </li>
                <li class="nav">
                    <a href="/#">购买</a>
                </li>
                <li class="nav">
                    <a class="link-blue" href="/#">注册</a>
                </li>
                <li class="nav">
                    <a href="/#">登录</a>
                </li>
            </ul>
        </div>
    </div>

    <footer class="footer">
        <div class="content-box">
            <div class="content-left">
                <ul class="footer-column">
                    <li class="footer-column-title">首页</li>
                    <ul class="footer-column-content">
                        <li><a href="javascript:;">购买</a></li>
                        <li><a href="javascript:;">追踪祖源</a></li>
                        <li><a href="javascript:;">预防疾病</a></li>
                        <li><a href="javascript:;">肤质检测</a></li>
                        <li><a href="javascript:;">天赋检测</a></li>
                        <li><a href="javascript:;">安全用药</a></li>
                    </ul>
                </ul>
                <ul class="footer-column">
                    <li class="footer-column-title">关于湃咖</li>
                    <ul class="footer-column-content">
                        <li><a href="javascript:;">关于我们</a></li>
                        <li><a href="javascript:;">隐私保护</a></li>
                        <li><a href="javascript:;">安全协议</a></li>
                        <li><a href="javascript:;">加入我们</a></li>
                    </ul>
                </ul>
                <ul class="footer-column">
                    <li class="footer-column-title">用户中心</li>
                    <ul class="footer-column-content">
                        <li><a href="javascript:;">登录</a></li>
                        <li><a href="javascript:;">注册</a></li>
                        <li><a href="javascript:;">个人中心</a></li>
                        <li><a href="javascript:;">加入我们</a></li>
                    </ul>
                </ul>
            </div>
            <div class="content-right">
                <ul class="footer-column">
                    <li class="footer-column-title">关注我们</li>
                    <ul class="footer-column-content">
                        <li><img src="__STATIC__/dist/images/home/QR_code.png"/></li>
                    </ul>
                </ul>
                <ul class="footer-column">
                    <li class="footer-column-title">联系我们</li>
                    <ul class="footer-column-content">
                        <li>客服电话 400-006-2323</li>
                        <li>合作电话 400-006-2323</li>
                    </ul>
                </ul>
            </div>
            <div class="footer-copyright">&copy; 2018 WeGene. All Rights Reserved 粤ICP备15012185号</div>
        </div>
    </footer>
</div>
{/block}
{block name="other_js"}
<!-- other js -->
<script src="__STATIC__/dist/js/my.js" type="text/javascript"></script>
<script>
    $.my_init();
</script>
{/block}
