{extend name="Template:base" /}
{block name="title"}基因检测-登录{/block}
{block name="other_css"}
<!-- other css -->
<!--<link rel='stylesheet' href='__STATIC__/dist/css/home.css' type="text/css" />-->
<link rel='stylesheet' href='__STATIC__/dist/css/login.css' type="text/css" />
{/block}

{block name="body"}
<div class="wrapper">
    <div class="topbar">
        <div class="content-box">
            <a class="logo" href="/#">
                <img src="__STATIC__/dist/images/logo.png" />
            </a>
            <ul class="navbar">
                <li class="nav">
                    <a href="{:url('Index/index')}">首页</a>
                </li>
                <li class="nav">
                    <a href="/#">检测流程</a>
                </li>
                <li class="nav">
                    <a href="/#">检测结果</a>
                </li>
                <li class="nav">
                    <a href="/#">购买</a>
                </li>
                <li class="nav">
                    <a class="link-blue" href="{:url('User/register')}">注册</a>
                </li>
                <li class="nav">
                    <a href="{:url('User/login')}">登录</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="contents">
        <div class="content-box">
            <div class="content-from">
                <div class="form-title">
                    <img src="__STATIC__/dist/images/logo.png"/>
                    <div class="cut"></div>
                    <span class="">登录</span>
                </div>
                <div class="form-type">
                    <div class="form-type-tab tab-active">
                        账号登录
                    </div>
                    <div class="form-type-tab">
                        手机登录
                    </div>
                    <div class="active-line"></div>
                </div>

                <div class="form-input">
                    <input type="text" class="def-input" placeholder="邮箱/用户名" />
                    <input type="password" class="def-input" placeholder="密码" />
                    <div class="bar">
                        <span class="remember"><input type="checkbox" id="remember"/><label for="remember">&nbsp;记住密码</label></span>
                        <span class="register"><a href="#" class="">找回密码</a>/<a href="#" class="">注册新用户</a></span>
                    </div>
                </div>
                <div class="form-btn">
                    <input type="button" value="登录" class="def-input">
                </div>
                <div class="form-footer">
                    <span class="">其他方式登录：</span>
                    <a class="action-qq">
                        <img src="__STATIC__/dist/images/register/qq_03.jpg"/>&nbsp;QQ登录
                    </a>
                    <a class="action-wc">
                        <img src="__STATIC__/dist/images/register/WeChat_03.jpg"/>&nbsp;微信登录
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}

{block name="other_js"}
<!-- other js -->
{/block}