{extend name="Template:base" /}
{block name="title"}基因检测-登录{/block}
{block name="other_css"}
<!-- other css -->
<!--<link rel='stylesheet' href='__PCRESOURCE__/css/home.css' type="text/css" />-->
<link rel='stylesheet' href='__PCRESOURCE__/css/login.css' type="text/css"/>
{/block}

{block name="body"}
<div class="wrapper page-login">
    {include file="Template:top" /}
    <div class="contents">
        <div class="content-box">
            <div class="content-from">
                <div class="form-title">
                    <img src="__COMMONRESOURCE__/images/logo.png"/>
                    <div class="cut"></div>
                    <span class="">登录</span>
                </div>
                <div class="form-type">
                    <div class="form-type-tab tab-active" data-for="#normal">
                        账号登录
                    </div>
                    <div class="form-type-tab" data-for="#mobile">
                        手机登录
                    </div>
                    <div class="active-line"></div>
                </div>

                <div class="form-input" id="normal">
                    <input type="text" class="def-input" id="key" placeholder="邮箱/用户名"/>
                    <input type="password" class="def-input" id="password" placeholder="密码"/>
                    <div class="bar">
                        <span class="remember"><input type="checkbox" id="remember"/><label
                                for="remember">&nbsp;记住密码</label></span>
                        <span class="register"><a href="#" class="">找回密码</a>&nbsp;/&nbsp;<a href="#" class="">注册新用户</a></span>
                    </div>
                </div>

                <div class="form-input" id="mobile" style="display: none;">
                    <input type="text" class="def-input" id="phone" placeholder="手机号"/>
                    <div class="def-input def-inputbtn">
                        <input type="password" id="code" placeholder="验证码"/>
                        <input type="button" class="def-input-btn" value="获取验证码"/>
                    </div>
                    <div class="bar">
                        <span class="register"><a href="#" class="">找回密码</a>&nbsp;/&nbsp;<a href="#" class="">注册新用户</a></span>
                    </div>
                </div>
                <div class="form-btn">
                    <input type="button" value="登录" id="login" class="def-input">
                </div>
                <div class="form-footer">
                    <span class="">其他方式登录：</span>
                    <a class="action-qq three_login" data-type="qq">
                        <img src="__PCRESOURCE__/images/register/qq_03.jpg"/>&nbsp;QQ登录
                    </a>
                    <a class="action-wc three_login" data-type="wechat">
                        <img src="__PCRESOURCE__/images/register/WeChat_03.jpg"/>&nbsp;微信登录
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}

{block name="other_js"}
<!-- other js -->
<script src="__PCRESOURCE__/js/my.js" type="text/javascript"></script>
<script src="__PCRESOURCE__/js/login.js" type="application/javascript"></script>
<script>

    $(function () {
        var loginUrl = "{:url('User/login')}";
        var successUrl = "{:url('Index/index')}";

        $.my_init({
            animate: {
                enable: false
            },
            tabs: {
                enable: true
            }
        });

        login.init(loginUrl,successUrl);

        $("#login").click(function(){
            console.log($(".form-type").getTabVal());
        });


        $(".three_login").click(function () {
            var type = $(this).data('type');
            window.location.href = "{:url('user/qrLogin')}?type="+type;
        })
    })

</script>
{/block}