<footer class="footer">
    <div class="content-box">
        <div class="content-left">
            <ul class="footer-column">
                <li class="footer-column-title">首页</li>
                <ul class="footer-column-content">
                    <li><a href="{:url('Order/order')}">购买</a></li>
                    <!--<li><a href="javascript:;">追踪祖源</a></li>-->
                    <li><a href="{:url('Content/inheritance')}">预防疾病</a></li>
                    <li><a href="{:url('Content/skin')}">肤质检测</a></li>
                    <li><a href="{:url('Content/kids')}">天赋检测</a></li>
                    <li><a href="{:url('Content/medication')}">安全用药</a></li>
                </ul>
            </ul>
            <ul class="footer-column">
                <li class="footer-column-title">关于湃咖</li>
                <ul class="footer-column-content">
                    <!--<li><a href="javascript:;">关于我们</a></li>-->
                    <!--<li><a href="javascript:;">隐私保护</a></li>-->
                    <li><a href="{:url('Index/agreement')}" target="_blank">安全协议</a></li>
                    <!--<li><a href="javascript:;">加入我们</a></li>-->
                </ul>
            </ul>
            <ul class="footer-column">
                <li class="footer-column-title">用户中心</li>
                <ul class="footer-column-content">
                    <li><a href="{:url('User/login')}">登录</a></li>
                    <li><a href="{:url('User/register')}">注册</a></li>
                    <li><a href="{:url('Order/orderList')}">查看订单</a></li>
                    <!--<li><a href="javascript:;">加入我们</a></li>-->
                </ul>
            </ul>
        </div>
        <div class="content-right">
            <ul class="footer-column">
                <li class="footer-column-title">关注我们</li>
                <ul class="footer-column-content">
                    <li><img src="__PCRESOURCE__/images/home/QR_code.png"/></li>
                </ul>
            </ul>
            <ul class="footer-column">
                <li class="footer-column-title">联系我们</li>
                <ul class="footer-column-content">
                    <li>客服电话 021-63153107</li>
                    <li>客服邮箱 service@picagene.com</li>
                </ul>
            </ul>
        </div>
        <div class="footer-copyright">&copy; 2018 WeGene. All Rights Reserved 粤ICP备15012185号</div>
    </div>
</footer>