<div class="topbar">
    <div class="content-box">
        <a class="logo" href="{:url('Index/index')}">
            <img src="__COMMONRESOURCE__/images/logo.png"/>
        </a>
        <ul class="navbar">
            <li class="nav">
                <a class="link-home" href="{:url('Index/index')}">首页</a>
            </li>
            <li class="nav">
                <a class="link-process" href="{:url('Content/process')}">检测流程</a>
            </li>
            <li class="nav">
                <a class="link-result" href="{:url('Order/orderList')}">订单查询</a>
            </li>
            <li class="nav">
                <a class="link-order" href="{:url('Order/order')}">购买</a>
            </li>
            {if !session('?userInfo') || session('userInfo')['role']!=0}
            <li class="nav">
                <a class="link-register" href="{:url('User/register')}">注册</a>
            </li>
            <li class="nav">
                <a class="link-login" href="{:url('User/login')}">登录</a>
            </li>
            {elseif session('?userInfo') && session('userInfo')['role']==0 /}
            <li class="nav">
                <div class="link-btn">
                    <div class="link-btn-text">{:session('userInfo')['nickname']}</div>
                    <ul class="link-group">
                        <!--<li>
                            <a class="link-login" href="{:url('User/logout')}">绑定唾液</a>
                        </li>-->
                        <li>
                            <a class="link-login" href="{:url('Order/orderList')}">订单查询</a>
                        </li>
                        <li>
                            <a class="link-login" href="{:url('Content/selreport')}">查看结果</a>
                        </li>
                        {if session('?loginType') && session('loginType')==1}
                        <li>
                            <a class="link-login" href="{:url('User/resetPwd')}">修改密码</a>
                        </li>
                        {/if}
                        <li>
                            <a class="link-login" href="{:url('User/logout')}">退出账号</a>
                        </li>
                    </ul>
                </div>
            </li>
            {/if}
        </ul>
    </div>
</div>
<script>
    $('.link-btn').mouseenter(function(){
        $(this).addClass('link-group-shown');
    });
    $('.link-btn').mouseleave(function(){
        $(this).removeClass('link-group-shown');
    });
</script>