<div class="topbar">
    <div class="content-box">
        <a class="logo" href="{:url('Index/index')}">
            <img src="__COMMONRESOURCE__/images/logo.png"/>
        </a>
        <ul class="navbar">
            <li class="nav">
                <a class="link-home" href="{:url('Index/index')}">首页</a>
            </li>
            <li class="nav">
                <a class="link-process" href="{:url('Content/process')}">检测流程</a>
            </li>
            <li class="nav">
                <a class="link-result" href="javascript:;">检测结果</a>
            </li>
            <li class="nav">
                <a class="link-order" href="{:url('Order/order')}">购买</a>
            </li>
            {if !session('?userInfo')}
            <li class="nav">
                <a class="link-register" href="{:url('User/register')}">注册</a>
            </li>
            <li class="nav">
                <a class="link-login" href="{:url('User/login')}">登录</a>
            </li>
            {/if}
        </ul>
    </div>
</div>