{extend name="Template:base" /}
{block name="title"}基因检测-绑定编号{/block}
{block name="other_css"}
<!-- other css -->
<link rel='stylesheet' href='__MOBILERESOURCE__/css/bindingend.css' type="text/css"/>
{/block}
{block name="body"}
<div class="wrapper">
    <div class="contents">
        <div class="content-1">
            <div class="select-order">手动绑定</div>
            <div class="select-order-1">即刻，预见未来，遇见自己。</div>
            <div class="content-bottom">
                <img class="content-bottom-img" src="__MOBILERESOURCE__/images/binding/22222.png">
                <div class="form-des">绑定唾液盒</div>
                <div class="form-des-1">绑定唾液盒后，可以查看唾液状态</div>
            </div>
        </div>
    </div>
</div>
{/block}
